{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{object.title}}
{% endblock %}

{% block main %}
    <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{{object.cover.url}}" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">{{object.title}}</h1>
        
        <p class="masthead-subheading font-weight-light mb-0">
            {{object.content|safe}}
        </p>
    </div>
    </header>
{% endblock%}