body {
    font-family: "Ubuntu Mono" !important;
    font-size: 14px !important;
}

.myfont, .input100 {
    font-family: Sahel !important;
}

.errors {
    color: red;
    background-color: #f4dede;
    padding: 20px 30px;
    text-align: center;
}

.txt1 {
    font-family: Ubuntu-Regular;
    font-size: 18px;
    color: #fd079d;
    line-height: 2;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem !important;
  text-decoration: none;
  white-space: nowrap;
}