{% extends 'base.html' %}

{% block title %}
    {% block title-meta %} 
        Done!
    {% endblock %}
{% endblock %} 

{% block main %}
    <br><br><br><br><br>
    <div class="col-md-8 text-center mx-auto">
        <!-- general form elements -->
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">Changing Password</h3>
            </div>
            <div class="card-body py-4">
                <p class="py-2">Password changed successfully.</p>
            </div>
        </div>
    </div>
{% endblock %}