{% extends 'base.html' %}

{% block title %}
    {% block title-meta %} 
        Check your email
    {% endblock %}
{% endblock %} 

{% block main %}
    <br><br><br><br><br>
    <div class="col-md-8 text-center mx-auto">
        <!-- general form elements -->
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">Reset password Link sent</h3>
            </div>
            <div class="card-body py-4">
                <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly</p>

                <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

            </div>
        </div>
    </div>
{% endblock %}