{% extends "base.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}


{% block title %}
    {% block title-meta %}
        Password reset confirmation
    {% endblock %}
{% endblock %}

{% block main %}
    <br><br><br><br><br>

    {% if validlink %}


        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6">
                                {{ form.new_password1|as_crispy_field }}
                            </div>
                            <div class="col-6">
                                {{ form.new_password2|as_crispy_field }}
                            </div>
                        </div>
                    <button class="btn btn-danger" style="text-align:center;">reset</button>
                </form>
            </div>
        </div>

    {% else %}

        <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}

{% endblock %}
